/**
 * User: jfengsky@gmail.com
 * Date: 13-7-31 16:47
 *
 */

@import 'global'

.main
  width: $w480
  margin: auto
  height: $h800
  @include tempbord
  .banner
    height: 180px

  nav
    height: 60px