extends layout

block content
  section.main
    // 顶部轮播焦点图 可不显示
    #top.banner
      ul
        li
          img(src="")
        li
          img(src="")
        li
          img(src="")

      ul
        li 1
        li 2
        li 3

    // 主导航 tab切换效果
    nav
      ul
        li new
        li finish
        li rank

    // 图片列表
    .list
      ul
        li