extends layout

block content
  section.main
    // 顶部轮播焦点图 可不显示
    #top.banner
      ul.piclist
        li
          img(src="http://localhost/imagesize/img.php?size=480x180")
        li
          img(src="http://localhost/imagesize/img.php?size=480x180")
        li
          img(src="http://localhost/imagesize/img.php?size=480x180")

      ul.switch
        li.cur 1
        li 2
        li 3

    // 主导航 tab切换效果
    nav
      ul
        li.cur
          b 100
          span 新
          i
        li
          b 10
          span 已完成
          i
        li
          b 99
          span rank
          i

    // 图片列表
    .list
      ul
        li
          img(src="http://localhost/imagesize/img.php?size=120x200")
        li
          img(src="http://localhost/imagesize/img.php?size=120x200")
        li
          img(src="http://localhost/imagesize/img.php?size=120x200")
        li
          img(src="http://localhost/imagesize/img.php?size=120x200")
