/**
 * Description: ui
 * Author: jiangfeng (jfengsky@gmail.com)
 * Update: 2013-05-27 11:18
 */
/* line 7, ../sass/ui.scss */
.header {
  background: -moz-linear-gradient(top, red, rgba(0, 0, 255, 0.5));
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(red), to(rgba(0, 0, 255, 0.5)));
  background: -o-linear-gradient(top, red, rgba(0, 0, 255, 0.5));
}
