/**
 * Description: ui
 * Author: jiangfeng (jfengsky@gmail.com)
 * Update: 2013-05-27 11:18
 */
/* line 8, ../sass/ui.scss */
body {
  position: relative;
  -webkit-transition: left .2s ease;
}

/* line 13, ../sass/ui.scss */
.header {
  font-weight: bold;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3c3c), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#3c3c3c, #111111);
  background-image: -moz-linear-gradient(#3c3c3c, #111111);
  background-image: -o-linear-gradient(#3c3c3c, #111111);
  background-image: linear-gradient(#3c3c3c, #111111);
}
/* line 18, ../sass/ui.scss */
.header a {
  height: 18px;
  padding: .55em 11px .5em;
  border: 1px solid #111;
  background-color: #333;
  text-shadow: 0 1px 0 #111;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 1em;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #2d2d2d));
  background-image: -webkit-linear-gradient(#444444, #2d2d2d);
  background-image: -moz-linear-gradient(#444444, #2d2d2d);
  background-image: -o-linear-gradient(#444444, #2d2d2d);
  background-image: linear-gradient(#444444, #2d2d2d);
}
/* line 34, ../sass/ui.scss */
.header a:first-child {
  position: absolute;
  top: 5px;
  left: 5px;
}
/* line 39, ../sass/ui.scss */
.header a:last-child {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 44, ../sass/ui.scss */
.header a:hover {
  border: 1px solid #000;
  background-color: #444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #383838));
  background-image: -webkit-linear-gradient(#555555, #383838);
  background-image: -moz-linear-gradient(#555555, #383838);
  background-image: -o-linear-gradient(#555555, #383838);
  background-image: linear-gradient(#555555, #383838);
}
/* line 49, ../sass/ui.scss */
.header a:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #202020), color-stop(100%, #2c2c2c));
  background-image: -webkit-linear-gradient(#202020, #2c2c2c);
  background-image: -moz-linear-gradient(#202020, #2c2c2c);
  background-image: -o-linear-gradient(#202020, #2c2c2c);
  background-image: linear-gradient(#202020, #2c2c2c);
}
/* line 54, ../sass/ui.scss */
.header h1 {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: .8em auto .8em;
  color: #fff;
  white-space: nowrap;
  font-size: 1.2em;
}
